/* Normalization so that it looks good */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 background-color: lightsteelblue;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    border: 8px solid steelblue;
    box-shadow: 6px 7px 13px gray;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 8px solid steelblue;
    background-image: linear-gradient(to bottom, white, steelblue);
}
header div h2{
    font-size: 314%;
    font-style: italic;
    color: lightskyblue;
    text-shadow: 2px 2px 3px black;
}


/* Crud for the links */
a:link, a:visited {
    color: steelblue;
}
a:hover, a:active{
    color: maroon;
}
aside a {
    font-weight: bold;
}
aside a:visited{
    color: maroon;
}

/* Nav List */

#nav_list h2 {
    margin: 25px 0;
    text-align: center;

}
#nav_list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

}
#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 50vw;

}
#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em;
    color: black;
    border-radius: 50vw;
    transition: all ease-in-out 600ms;

}
#nav_list a:hover{
    background-color: steelblue;
    color: white;
}

main {
    display: flex;
}
section {
    flex: 0 1 60%;
}
aside{
    flex: 0 1 20%;
}





/* Navigation Bar */
#nav_list {
    margin-bottom: 20px;
}
#nav_menu {
    border-bottom: 3px solid steelblue;
    background-color: steelblue;


}
#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;


}
#nav_menu li {
    width: 20%;
}
#nav_menu a {
    display: block;
    color: white;
    background-color: steelblue;
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 600ms;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;

}
#nav_menu ul ul li a {
    text-align: left;
    padding-left: .35em;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu a:hover {
    color: black;
    background-color: lightsteelblue;
}

.sidebarimages {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.sidebarimages img {
    max-width: 90%;
    border: 3px ridge steelblue;
    border-radius: 7px;
    box-shadow: 2px 2px 2px black;
}


/* End of Navigation Bar */

h1{
    text-align: center;
    font-size: 300%;
    color: lightsteelblue;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
}
section p {
    margin: 0px 4% 13px;
}
blockquote {
    margin: 0px 6.7% 13px;
    padding: 8px;
    background-color: rgb(183, 223, 255);
    border-left: 4px solid steelblue;
    border-radius: 0px, 50vh, 50vh, 0px;
}

section h2, section h4 {
    margin: 0  5px;
}
section h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}
section h4 a {
    text-decoration: none;
    font-size: 123%;
}
section h4 a:link, section h4 a:visited{
    color: black;
    transition: all ease-in-out 600ms;
}
section h4 a:hover{
    color: steelblue;
}





/* ============ Aside Right ============= */


#right h2 {
    font-size: 130%;
    text-align: center;
    margin: 25px 0;
}
#right h3 {
    font-size: 120%;

}
#right p {
    font-size: 90%;
    margin: 15px 0 25px;
    padding-right: 10px;
}



footer{
    margin-top: 20px;
    display: flex;    
    background-color: steelblue;
    color: white;
    justify-content: center;
}
footer p {
    padding: 20px 0;
    font-variant: small-caps;
}